[user]
	name = Cyku
	email = cyku@cyku.tw
[core]
	editor = vim
[http]
	sslVerify = false
[alias]
	logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
